<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Drzewo genealogiczne">
   
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <title> Genealogia </title>

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> DRZEWO GENEALOGICZNE </a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="#"> O projekcie </a></li>
      <li><a href="#"> Kontakt </a></li>
      <li><a href="#"> Regulamin </a></li>

    </ul>
  </div>
</nav>

<section id="ramka">
    

    <div>
        <h1 id="h1"> Jesteś pewny, że historia Twojej rodziny niczym Cię nie zaskoczy? </h1>
        <p> <solid> Zaloguj się, stwórz własne drzewo genealogiczne </solid> i przekonaj się, jak ciekawa jest Twoja historia. </p>

        <div id="buttony">
            <a class="btn btn-success btn-lg" href="login" role="button"> Zaloguj się </a>
            <a class="btn btn-danger btn-lg" href="newuser" role="button"> Zarejestruj się </a>
        </div>

    </div>


</section>

<!--
<footer>
  Copywrights by <a href="https://github.com/KamilaSieczkowska"> Kamila </a> and <a href="https://github.com/sermarcel"> Marcin </a>
</footer>
--> 

</body>

</html>
