<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Drzewo genealogiczne">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <title> Drzewo genealogiczne </title>
</head>

<body>



  <div id="tekst">
    <h1> Odkryj historię swojej rodziny </h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. 
      Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. 
    </p>

   <p id="buttony">
   <button type="button" class="btn btn-warning" id='login'> Zaloguj się</button>
   <button type="button" class="btn btn-success" id='new'> Zarejestruj się </button>
   </p>

  </div>
  
<!-- 

<div id="stopka">
<footer>
  <p> Copywrights by <br>
  <a target="blank" href="https://github.com/KamilaSieczkowska"> Kamila Sieczkowska </a> 
  and <a target="blank" href="https://github.com/sermarcel"> Marcin Brz </p>
  
</footer>
</div>

-->


</body>

</html>